<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floruit</title>
    <!--Favicon-->
    <link rel="shortcut icon" href="/public/image/logo_azul.ico">
    <!--Fonte Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!--Css do projeto-->
    <link rel="stylesheet" href="/public/css/login.css"/>
</head>

<body>
    <div class="loginContainer">
        <form id="login-form" action="/auth/login" method="POST">
            <div class="loginTop">
                <h3>Welcome</h3>
                <p>You're Part Of Floruit's Petals!</p>
            </div>

            <div class="loginMid">
                <div id="loginForm">

                    <label for="email">Email</label>
                    <input placeholder="Enter your email" type="text" id="email" class="emailForm" name="email" required><br><br>

                    <label for="password">Password</label>
                    <input placeholder="Enter yout password" type="password" id="password" class="passwordForm" name="password"
                        required><br><br>
                </div>
                <div class="tools">
                    <div class="rememberMe">
                        <div class="check">
                            <input type="checkbox" name="rememberMe" id="rememberMe">Remember me
                        </div>
                        <a href="#">Forgot password?</a>
                    </div>
                    <p id="message"></p>
                </div>
            </div>

            <button type="submit">Login</button>
        </form>
    </div>

    <script src="/app.js"></script>
</body>

</html>